{% extends "base.html" %}

{% block jumbotron %}

<form style="margin-top:20%" method="POST" action="{% url 'fibonacci' %}">
            {% csrf_token %}
      <center>
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            id="fibNo"
            aria-describedby="Enter a Number"
            placeholder="Enter a Number"
            style="width: 50%;"
            name="fibNo"
            required=True
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button> <hr>
      </center>
</form>

<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">Output - </div>
    <div class="panel-body">

          <p> <b>Input Number</b> -  {{ num }}</p>
          <p> <b>Output Number</b> - {{ result }}</p>

          {% if cache %}
          <p><b>Cache Status</b> - Cache is true</p>
          {% endif %}

          {% if execution_time %}
        <p> <b>Execution Time</b> - {{ execution_time }} Sec. </p>
        <p> <b>Cache Status</b> - False </p>
          {% endif %}
    </div>
  </div>
</div>

<div class="container">

<a class="btn btn-danger" href="{% url 'clear_cache'%}">Clear Cache</a>
<!-- <button type="button" class="btn btn-danger">Clear Cache</button> -->
</div>

{% endblock %}
